---
import gihay_logo from "@/assets/gihay_main_logo.png";
import gihay_face_logo from "@/assets/about/gihay_face_logo.png";
import gihay_flower_logo from "@/assets/about/gihay_flower_logo.png";
import gihay_hand_logo from "@/assets/about/gihay_hand_logo.png";
import gihay_woman_logo from "@/assets/about/gihay_woman_logo.png";
---

<section
  class="relative h-full flex flex-col bg-gihay-bg-section py-10 gap-10 items-center"
>
  <div class="flex justify-center h-fit gap-4" id="about">
    <span class="font-extrabold text-9xl text-gihay-dark-pink">About</span>
    <div class="flex flex-col justify-end">
      <span class="font-bright text-6xl text-gihay-dark-pink">Gihay</span>
      <span class="font-bright text-6xl text-gihay-dark-pink">Initiative</span>
    </div>
  </div>
  <div class="flex gap-5 items-center justify-center z-0">
    <img src={gihay_logo.src} class="" width="400" alt="Gihay logo" />
    <div class="flex flex-col gap-10 z-0 w-1/2">
      <div>
        <span class="text-gihay-text text-5xl font-medium">
          Gihay Initiative aims to support disadvantaged women in Cebu by
          offering them <span class="emphasis"
            >sustainable, reusable napkins</span
          >.
        </span>
      </div>
      <div class="flex flex-col gap-2">
        <span class="text-gihay-text text-xl"
          >We envision a society designed to eliminate the socio-economic
          setbacks of period poverty where proper health information is standard
          and the interests against period poverty are lobbied.
        </span>
        <span class="text-gihay-text text-xl"
          >Our mission is to provide underprivileged people who menstruate
          access to menstrual products and proper health information in schools
          and lower income areas in Cebu.</span
        >
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-5 mb-40">
    <div class="w-1/5 flex flex-col items-center justify-center">
      <img
        src={gihay_hand_logo.src}
        alt="Gihay hand picture"
        class="w-full object-cover mb-2"
      />
      <span class="font-bright text-4xl text-gihay-dark-pink">Open Palm</span>
      <span class="text-md text-center text-gihay-text"
        >Represents service.</span
      >
    </div>
    <div class="w-1/5 h-auto flex flex-col items-center justify-center">
      <img
        src={gihay_face_logo.src}
        alt="Gihay face picture"
        class="w-full object-cover mb-2"
      />
      <span class="font-bright text-4xl text-gihay-dark-pink"
        >Stern Face of a Woman</span
      >
      <span class="text-md text-center text-gihay-text"
        >Welfare. Struggle. The realities of being a woman.</span
      >
    </div>
    <div class="w-1/5 h-auto flex flex-col items-center justify-center">
      <img
        src={gihay_woman_logo.src}
        alt="Gihay woman picture"
        class="w-full object-cover mb-2"
      />
      <span class="font-bright text-4xl text-gihay-dark-pink">Female Body</span>
      <span class="text-md text-center text-gihay-text"
        >Refers to the Divine Feminine.</span
      >
    </div>
    <div class="w-1/5 h-auto flex flex-col items-center">
      <img
        src={gihay_flower_logo.src}
        alt="Gihay flower picture"
        class="w-full object-cover mb-2"
      />
      <span class="font-bright text-4xl text-gihay-dark-pink">Gumamela</span>
      <span class="text-md text-center text-gihay-text"
        >Symbolizes women, represents beauty and love.</span
      >
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1715585967">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>

<style>
  .custom-shape-divider-bottom-1715585967 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1715585967 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 105px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1715585967 .shape-fill {
    fill: #f9cecd;
  }
</style>
