---
import { Image } from "astro:assets";
import {
  Timeline,
  TimelineContent,
  TimelineDot,
  TimelineHeading,
  TimelineItem,
  TimelineLine,
} from "@/components/ui/timeline";
import gihay_logo from "@/assets/gihay_main_logo.png";
import gihay_launch from "@/assets/about/gihay_launch.jpeg";
import gihay_first_workshop from "@/assets/about/gihay_first_workshop.jpeg";
import gihay_thousand_cores from "@/assets/about/gihay_thousand_cores.jpeg";
import gihay_seventy from "@/assets/about/gihay_seventy.jpeg";
import gihay_ramon_distribution from "@/assets/hero/DSC1182.jpg";
import gihay_purras_distribution from "@/assets/about/gihay_purras_distribution.jpeg";
import gihay_hundred from "@/assets/about/gihay_hundred.jpeg";
import gihay_calma_distribution from "@/assets/about/gihay_calma_distribution.jpeg";
import gihay_umapad_distribution from "@/assets/about/gihay_umapad_distribution.jpeg";
import gihay_my_refuge from "@/assets/about/gihay_my_refuge.png";
import { Target } from "lucide-react";
---

<section
  class="h-full flex flex-col bg-gihay-bg-section py-10 gap-10 items-center"
>
  <div class="flex justify-center h-fit gap-4">
    <span class="font-extrabold text-9xl text-gihay-dark-pink">About</span>
    <div class="flex flex-col justify-end">
      <span class="font-bright text-6xl text-gihay-dark-pink">Gihay</span>
      <span class="font-bright text-6xl text-gihay-dark-pink">Initiative</span>
    </div>
  </div>
  <div class="flex gap-5 items-center justify-center z-0">
    <Image src={gihay_logo} class="" width="400" alt="Gihay logo" />
    <div class="flex flex-col gap-10 z-0 w-1/2">
      <div>
        <span class="text-gihay-text text-5xl font-medium">
          Gihay Initiative aims to support disadvantaged women in Cebu by
          offering them <span class="emphasis"
            >sustainable, reusable napkins</span
          >.
        </span>
      </div>
      <div class="flex flex-col gap-2">
        <span class="text-gihay-text text-xl"
          >We envision a society designed to eliminate the socio-economic
          setbacks of period poverty where proper health information is standard
          and the interests against period poverty are lobbied.
        </span>
        <span class="text-gihay-text text-xl"
          >Our mission is to provide underprivileged people who menstruate
          access to menstrual products and proper health information in schools
          and lower income areas in Cebu.</span
        >
      </div>
    </div>
  </div>
  <div class="w-9/12">
    <Timeline positions="center">
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="left">March 3, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="left">
          Launched during Women's Month, the Gihay Initiative empowers
          underprivileged menstruating individuals in Cebu by providing them
          with sustainable, reusable napkins. This initiative, spearheaded by
          passionate Carolinian youth, aims to address menstrual hygiene
          accessibility while promoting environmental sustainability.
        </TimelineContent>
        <TimelineContent side="right">
          <Image
            src={gihay_launch}
            class="h-[20vh] shadow-xl object-cover object-top"
            alt="Gihay launch picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem>
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="right">June 22 - July 7, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="right">
          Over three weeks, the Gihay Initiative held its first Volunteer
          Workshop and Orientation, attracting 35 dynamic volunteers committed
          to the cause. These sessions included training on the production and
          distribution of reusable menstrual products, reinforcing our
          community's commitment to women's health.
        </TimelineContent>
        <TimelineContent side="left">
          <Image
            src={gihay_first_workshop}
            class="h-[20vh] shadow-xl object-cover object-top"
            alt="Gihay first workshop picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="left">August 11, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="left">
          A significant achievement: the organization alone crafted over 1,000
          reusable cores, marking a major milestone in our commitment to
          sustainability and support for menstrual health.
        </TimelineContent>
        <TimelineContent side="right">
          <Image
            src={gihay_thousand_cores}
            class="h-[20vh] shadow-xl object-cover object-top"
            alt="Gihay 1000 core milestone picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="right">September 1, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="right">
          The initiative received 70 kilograms of cloth donations and mobilized
          40 dedicated youth volunteers. This substantial support has greatly
          enhanced our production capabilities and outreach efforts.
        </TimelineContent>
        <TimelineContent side="left">
          <Image
            src={gihay_seventy}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay 70 kg donation picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="left">December 5, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="left">
          Hosted a Period Poverty Awareness and Menstrual Health Seminar at
          Ramon Duterte National High School to educate and empower students.
          This event highlighted the importance of menstrual health and provided
          valuable information to hundreds of students.
        </TimelineContent>
        <TimelineContent side="right">
          <Image
            src={gihay_ramon_distribution}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="right">December 19, 2022</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="right">
          Expanded our educational outreach with a Menstrual Health Seminar in
          Sitio Purras, emphasizing proper menstrual health practices. This
          seminar provided in-depth education on menstrual health management,
          impacting numerous lives in the community.
        </TimelineContent>
        <TimelineContent side="left">
          <Image
            src={gihay_purras_distribution}
            class="h-[20vh] shadow-xl object-cover object-top"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="left">January 21, 2023</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="left">
          Continued our mission in Sitio Calma, conducting a seminar focused on
          Period Poverty Awareness and promoting menstrual health awareness.
          This seminar is part of our ongoing efforts to educate and support
          underprivileged communities.
        </TimelineContent>
        <TimelineContent side="right">
          <Image
            src={gihay_calma_distribution}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem>
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="right">June 19, 2023</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="right">
          Celebrating another major donation milestone with 100 kilograms of
          cloth received, alongside the mobilization of 55 inspired youth
          volunteers. These donations have been instrumental in expanding our
          reach and increasing our impact.
        </TimelineContent>
        <TimelineContent side="left">
          <Image
            src={gihay_hundred}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="left">August 5, 2023</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineLine done />
        <TimelineContent className="text-gihay-text text-xl" side="left">
          Held a transformative Menstrual Health Seminar in Sitio Paglaum,
          fostering discussions on menstrual health and hygiene. This event
          furthered our goal of reducing period poverty and promoting health
          education.
        </TimelineContent>
        <TimelineContent side="right">
          <Image
            src={gihay_umapad_distribution}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
      <TimelineItem status="done">
        <TimelineHeading
          className="text-gihay-dark-pink text-2xl font-semibold"
          side="right">January 19, 2024</TimelineHeading
        >
        <TimelineDot status="done" />
        <TimelineContent className="text-gihay-text text-xl" side="right">
          Successfully facilitated the turnover of 'With Thought of Twin Hearts'
          and 'Priyanka Annuncia' projects to My Refuge House, marking a
          significant collaboration. This partnership aims to amplify our
          efforts and reach more beneficiaries.
        </TimelineContent>
        <TimelineContent side="left">
          <Image
            src={gihay_my_refuge}
            class="h-[20vh] shadow-xl object-cover"
            alt="Gihay Ramon distribution picture"
          />
        </TimelineContent>
      </TimelineItem>
    </Timeline>
  </div>
</section>
